<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>History</title>
    <% include head %>
  </head>

  <body>

<% include navbar %>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="history.html">History</a></li>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container-history">

    <div style="margin-top: 20px;" class="text-center">

      <button class="history-buttons" id="oneDay" type="btn-location-buttons">Day</button>
      <button class="history-buttons" id="oneWeek" type="button">Week</button>
      <button class="history-buttons" id="oneMonth" type="button">Month</button>

    </div>

    <div id="legend"></div>

    <div id="graph-container">

    </div>
  </div><!-- container -->

    <!-- JS -->
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  </body>
</html>
