<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>History</title>
    <!-- Favicon-->
    <link rel="icon" href="img/mmIcon.ico" type="image/x-icon">
    <!-- Bootstrap  -->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Google Material Icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <!-- jQuery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <!-- custom JS -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="graph-history.js"></script>
    <script type="text/javascript" src="scripts.js"></script>

    <!-- custom CSS  -->
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="graph-history.css">

  </head>

  <body>

  <nav class="navbar-metermiser">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div style="display: inline-block; float: left;">
        <img class="logo-cent-10" src="img/MeterMiserWTsm.png" alt="MeterMiser Logo">
      </div>
      <a class="navbar-brand logo-font pad-top25" href="#"><span style="color: black;">Meter</span>Miser</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="history.html">History</a></li>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container-history">

    <div style="margin-top: 20px;" class="text-center">

      <button class="history-buttons" id="oneDay" type="btn-location-buttons">Day</button>
      <button class="history-buttons" id="oneWeek" type="button">Week</button>
      <button class="history-buttons" id="oneMonth" type="button">Month</button>

    </div>

    <div id="legend"></div>

    <div id="graph-container">

    </div>
  </div><!-- container -->

    <!-- JS -->
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  </body>
</html>
