<!DOCTYPE html>
<html>
  <head>
    <title>MeterMiser</title>
    <% include head %>

  </head>
  <body>
    <div class="container sign-in-con">

      <div id="sign-in-field" class="card-box">
        <div class="header">
          <div class="text-center">
          <img src="/images/MeterMiserWTmd.png" class="text-center" alt="">
          </div>
          <h1 class="text-center logo-font" style="margin-top: 0px; margin-bottom: 0px; padding-top: 0px;"><span style="color: black;">Meter</span>Miser</h1>

        </div>

        <div class="">
          <h3 style="margin-left: 20px;">Sign In</h3>

        </div>

        <div class="card-box-padfont" style="overflow: hidden;">
          <form class="mm-signin-form">

          <div class="row clearfix">

            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">person</i>
                </span>
                <div class="form-line">
                  <input id="first-name-input" type="text" class="form-control date" placeholder="First Name">

                </div>

              </div>

            </div>

          </div>

          <div class="row clearfix">

            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons" style="color: transparent;">person</i>
                </span>
                <div class="form-line">
                  <input id="last-name-input" type="text" class="form-control date" placeholder="Last Name">

                </div>

              </div>

            </div>

          </div>

          <div class="row clearfix">

            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">email</i>
                </span>
                <div class="form-line">
                  <input id="email-input" type="text" class="form-control email" placeholder="Email Address">

                </div>

              </div>

            </div>

          </div>

          <div class="row clearfix">

            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">phone</i>
                </span>
                <div class="form-line">
                  <input id="phone-phone-input" type="text" class="form-control mobile-phone-number" placeholder="Phone Number">

                </div>

              </div>

            </div>

          </div>

          <div class="row clearfix">

            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons dp48">phonelink_ring</i>
                </span>
                <div class="form-line">
                  <input id="text-phone-input" type="text" class="form-control mobile-phone-number" placeholder="Text Number">

                </div>

              </div>

            </div>

          </div>
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-signin-submit btn-lg" style="width: 100%;">SUBMIT</button>
          </div>

        </form>
        </div>

      </div>

    </div>

    <!-- custom JS -->
    <script type="text/javascript" src="scripts.js"></script>
  </body>
</html>
