<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Locations</title>
    <% include head %>

  </head>

  <body>

<% include navbar %>

<div class="row">
  <h3 style="padding-left: 30px; display: inline-block; margin-top: 10px;">Locations</h3>

  <div class="btn-toggle-map">
    <input id="list-map-toggle" type="checkbox" checked data-toggle="toggle" data-on="Hide Map" data-off="Show Map" data-onstyle="success" data-offstyle="primary">

  </div>

</div>

<div class="location-buttons text-center">

  <!-- create buttons dynamically in javascript -->

</div>

<div id="locations-map">
  <!-- map and markers created in javascript -->
</div> <!-- /#locations-map -->

<!-- custom JS -->
<script type="text/javascript" src="/javascripts/locationsScripts.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


  </body>
</html>
