<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>logged In</title>
</head>
<body>
	<h1>If you see this page you have successfully logged In.</h1>
	<p>the users personal map locations will be in this route</p>
</body>
</html>