<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Users Login Page</h1>
				<h3>Still needs styling work.</h3>
				<form action="/users/loginProcess" method="post">
					<div class="form-group">
						<label for="name">Name:</label>
						<input type="text" class="form-control" name="name">
						<label for="email">Email Address:</label>
						<input type="email" class="form-control" name="email">
						<label for="password">Password:</label>
						<input type="password" class="form-control" name="password">
						<button class="btn btn-primary">Login!</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>