<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Honeywell Validation</title>
	<% include head %>
</head>
<body>
  <% include navbar %>
  <div class="container">

  </div>

	<h1>This page will display account settings for returning users.</h1>
	<p>woopie</p>
</div>
	<!-- custom JS -->
	<script type="text/javascript" src="/javascripts/usersProfile.js"></script>

</body>
</html>
